h1{
    display:flex;
    align-items: center;
    justify-content: center;
    border: solid rgb(255, 0, 0) 10px;
}




body{
    border: solid rgb(34, 15, 85) 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    
    
}


.box {
    background: #FFFDD0;
    border: black 1px solid;
    width: 20px;
    height: 20px;

}

.row {
    display: flex;

}

#mini{
    border: solid gold 10px;
}